<html xmlns:th="http:www.thymeleaf.org"><!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Display page</title>
</head>
<body>
We are displaying dogs!
<!--HttpServlet and HttpSession as  parameters.-->
<!--<p th:text="Hello+ ' '+${session.dogNameDisplay}"></p>-->

<!--With MV with string as a parameters.-->
<!--<p th:text="Hello+ '----'+${dogNameDisplay}"></p>-->

<!--With MV and Dog a parameters.-->
<p th:text="Hello+ '----'+${dogNameDisplay}"></p>
</body>
</html>